Repository hkevin01/space-telemetry-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @space-ops-team, @backend-team, @security-team, @frontend-team, @devops-team, @kubernetes-team, @tech-writers, @architects, @dev-tools-team, @mission-ops

.github/CODEOWNERS:

* @space-ops-team

# Core services
/src/services/ @backend-team @security-team
/src/app-frontend/ @frontend-team

# Infrastructure
/infra/ @devops-team @security-team
/infra/k8s/ @kubernetes-team @security-team

# Security and compliance
/security/ @security-team
/.github/workflows/ @devops-team @security-team

# Documentation
/docs/ @tech-writers @architects

# Configuration
/.vscode/ @dev-tools-team
/.copilot/ @dev-tools-team

# Critical mission files
/src/services/api-fastapi/app/routers/telemetry.py @mission-ops @backend-team
/src/services/ingest-node/src/telemetry.ts @mission-ops @backend-team

Update README with detailed data architecture components and performance optimization strategies
  README.md
Owners: @space-ops-team

Add comprehensive telemetry data tests for Redis hot path and PostgreSQL warm path
  .env.example
  IMPLEMENTATION-STATUS.md
  QUICKSTART.md
  README.md
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  security/NIST-SP-800-53-compliance.md
  src/backend/app/main.py
  src/backend/pyproject.toml
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/services/etl-airflow/Dockerfile
  src/services/etl-airflow/dags/telemetry_pipeline.py
  src/services/etl-airflow/package.json
  src/services/etl-airflow/requirements.txt
  src/services/ingest-node/.env.example
  src/services/ingest-node/Dockerfile
  src/services/ingest-node/README.md
  src/services/ingest-node/index.js
  src/services/ingest-node/package.json
  src/services/ingest-node/test/ingestion.test.js
  tests/data-paths/test_analytics_path.py
  tests/data-paths/test_cold_path.py
  tests/data-paths/test_hot_path.py
  tests/data-paths/test_warm_path.py
Owners: @space-ops-team, @security-team, @backend-team

Add comprehensive end-to-end integration tests for space telemetry system
  run_tests.py
  tests/commands/test_space_commands.py
  tests/integration/test_end_to_end.py
Owners: @space-ops-team

Enhance integration testing framework and documentation
  docs/TEST_SUITE_OVERVIEW.md
  pytest.ini
  run_tests.py
  tests/commands/test_space_commands.py
  tests/data-paths/test_analytics_path.py
  tests/data-paths/test_cold_path.py
  tests/data-paths/test_hot_path.py
  tests/data-paths/test_warm_path.py
  tests/integration/test_end_to_end.py
  tests/requirements.txt
Owners: @tech-writers, @architects, @space-ops-team

Enhance CI/CD pipeline and security workflows, implement FastAPI application structure, and improve testing framework
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
  .github/workflows/test-validation.yml
  docs/CI-CD-FIXES-REPORT.md
  docs/CI-CD-TROUBLESHOOTING.md
  infra/docker/Dockerfile.fastapi
  pytest.ini
  scripts/validate-cicd.sh
  src/__init__.py
  src/app-frontend/package-lock.json
  src/services/__init__.py
  src/services/api-fastapi/__init__.py
  src/services/api-fastapi/app/__init__.py
  src/services/api-fastapi/app/main.py
  src/services/api-fastapi/requirements.txt
  tests/api/test_main.py
  tests/conftest.py
Owners: @devops-team, @security-team, @tech-writers, @architects, @space-ops-team, @frontend-team, @backend-team

Enhance CI/CD pipeline with improved error handling, add local validation script, and refine FastAPI import handling in tests
  .github/workflows/ci-cd.yml
  scripts/final-validation.sh
  scripts/validate-local.sh
  tests/conftest.py
Owners: @devops-team, @security-team, @space-ops-team

Optimize CI/CD pipeline with progressive test execution and robust error handling
  .github/workflows/ci-cd-minimal.yml
  .github/workflows/ci-cd-simple.yml
  .github/workflows/ci-cd.yml
  .github/workflows/test-status.yml
  pytest.ini
  tests/api/test_system_validation.py
  tests/conftest.py
Owners: @devops-team, @security-team, @space-ops-team

Final optimizations for CI-friendly system validation tests
  .github/workflows/ci-cd.yml
  tests/api/test_system_validation.py
  tests/conftest.py
Owners: @devops-team, @security-team, @space-ops-team

Add comprehensive tests for Mission Control Dashboard enhancement
  docs/PRODUCTION_ROADMAP.md
  docs/ci-cd-optimizations.md
  src/backend/app/main.py
  src/services/anomaly-detection/anomaly_detection.py
  src/services/anomaly-detection/api.py
  src/services/bus-communications/__init__.py
  src/services/dashboard-enhancement/api.py
  src/services/dashboard-enhancement/config.py
  src/services/dashboard-enhancement/dashboard_components.jsx
  src/services/dashboard-enhancement/dashboard_service.py
  src/services/dashboard-enhancement/integration.py
  src/services/performance-optimization/performance_service.py
  tests/test_dashboard_enhancement.py
Owners: @tech-writers, @architects, @space-ops-team, @backend-team, @security-team

Add Software Requirements Document (SRD) and Software Test Plan (STP) for Space Telemetry Operations System
  docs/README.md
  docs/SDLC-Process-Overview.md
  docs/configuration/SCMP-001-Configuration-Management.md
  docs/design/SDD-001-System-Design.md
  docs/procedures/CSP-001-Coding-Standards.md
  docs/requirements/SRD-001-System-Requirements.md
  docs/testing/STP-001-Test-Plan.md
  src/services/anomaly-detection/anomaly_detection.py
  src/services/api-fastapi/app/main.py
  src/services/dashboard-enhancement/dashboard_service.py
  src/services/ingest-node/index.js
Owners: @tech-writers, @architects, @backend-team, @security-team

Enhance integration tests and documentation for Space Telemetry Operations System
  docs/README.md
  docs/verification/Requirements-Fulfillment-Report.md
  docs/verification/Requirements-Verification-Matrix.md
  src/api/main.py
  src/core/models.py
  src/services/anomaly-detection/anomaly_detection.py
  src/services/api-fastapi/app/main.py
  src/services/dashboard-enhancement/api.py
  src/services/dashboard-enhancement/dashboard_service.py
  src/services/dashboard-enhancement/integration.py
  src/services/performance-optimization/performance_service.py
  tests/integration/test_end_to_end.py
Owners: @tech-writers, @architects, @space-ops-team, @backend-team, @security-team

docs: format tables in .copilot/README.md
  .copilot/README.md
Owners: @dev-tools-team

docs: format tables in README.md
  README.md
Owners: @space-ops-team

docs: format tables in assets/README.md
  assets/README.md
Owners: @space-ops-team

docs: format tables in data/README.md
  data/README.md
Owners: @space-ops-team

docs: format tables in docs/README.md
  docs/README.md
Owners: @tech-writers, @architects

docs: format tables in src/services/ingest-node/README.md
  src/services/ingest-node/README.md
Owners: @backend-team, @security-team
